{{#*inline "filling"}}
<section>
  {{{contents}}}
  <ul>
    <li><a href="about.html">About</a></li>
    <li><a href="posts">Blog</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="https://github.com/wilfreddenton/resume/blob/master/wilfred_denton_resume.pdf" target="_blank">Resumé</a></li>
  </ul>
</section>
{{/inline}}
{{> base}}
