{{#*inline "filling"}}
{{> nav}}
<section>
  <ul id="posts-list">
    {{#each entities}}
    <li class="posts-list-item">
      <a href="posts/{{this.filename}}">
        <div class="posts-list-item-title">{{this.title}}</div>
        <div class="posts-list-item-time">{{this.created_at}}</div>
      </a>
    </li>
    {{/each}}
  </ul>
</section>
{{/inline}}
{{> base}}
